In [42]:
from ipynb.fs.full.Equity_Scrape import download_equity
from ipynb.fs.full.Stock_Scrape1 import download_stocks
from ipynb.fs.full.CorporateActions_Scrape1 import download_corporate_actions
from ipynb.fs.full.BhavCopy_Scrape import download_bhavcopy
from ipynb.fs.full.Deliverable_Scrape import download_deliverables
from ipynb.fs.full.ConvertBhavToStock import convertBhavCopyToStock
from ipynb.fs.full.Index_Scrape import download_index
from ipynb.fs.full.RiskFreeRate_Scrape import download_risk_free_rate
from ipynb.fs.full.Revenue_Profit_Scrape import download_revenue_profit

from ipynb.fs.full.Data_Cleaning import data_cleaning
from ipynb.fs.full.CorporateActions import apply_corporate_actions
from ipynb.fs.full.Feature_Creation import calculate_beta, calculate_alpha, add_risk_free_column,create_lower_upper_bands, calculate_band_area, create_dividend,create_index
from ipynb.fs.full.Revenue import create_eps_pe_ratio_revenue_income_expenditure_net_profit


import pandas as pd 
import numpy as np
import os

In [43]:
path = os.getcwd()
datapath = os.path.join(path,"Data")
datapath

'C:\\Users\\venu\\Desktop\\Stock Market Analysis\\Data'

In [44]:
download_equity()

Equity file already exists

In [45]:
security_id = "500002"
company_name = "ABB India Limited,Active"

In [46]:
download_corporate_actions(security_id)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [C:\Users\venu\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

Intitial non presence
Not present

In [47]:
download_bhavcopy()

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [C:\Users\venu\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [48]:
download_deliverables()

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [C:\Users\venu\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [49]:
download_index()

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [C:\Users\venu\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [50]:
download_risk_free_rate()

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [C:\Users\venu\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

C:\Users\venu\Desktop\Stock Market Analysis\RiskFreeRate_Scrape.ipynb:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  "        return driver\n",

In [51]:
download_revenue_profit(security_id,company_name)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [C:\Users\venu\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [52]:
bhav_df_today = pd.read_csv(os.path.join(datapath,"BhavCopies/15022021.csv"))
deliverables_df_today = pd.read_csv(os.path.join(datapath,"Deliverables/15022021.csv"))
df_stocks_today = convertBhavCopyToStock(bhav_df_today,deliverables_df_today)
df_stocks_today.to_csv(os.path.join(datapath,"BhavConvertedToStock/15022021.csv"),index=None)

In [53]:
modified_stock_path = os.path.join(os.getcwd(),"Data\Stock\mod"+security_id+".csv")
print(modified_stock_path)

C:\Users\venu\Desktop\Stock Market Analysis\Data\Stock\mod500002.csv

In [54]:
modified_stock = pd.read_csv(modified_stock_path) if os.path.exists(modified_stock_path) else pd.DataFrame()
modified_stock

Empty DataFrame
Columns: []
Index: []

In [55]:
stock_df = download_stocks(security_id)
print(stock_df)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [C:\Users\venu\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

Not present
remaking stock
                  Date  Open Price  High Price  Low Price  Close Price  \
3467    2-January-2007      3735.0     3776.00    3700.00      3714.05
3466    3-January-2007      3710.0     3739.00    3645.00      3653.65
3465    4-January-2007      3668.0     3684.00    3625.00      3645.15
3464    5-January-2007      3650.0     3675.00    3576.20      3592.70
3463    8-January-2007      3600.0     3600.00    3505.00      3554.15
...                ...         ...         ...        ...          ...
4     24-December-2020      1205.0     1229.95    1191.00      1207.35
3     28-December-2020      1225.0     1227.65    1212.00      1219.20
2     29-December-2020      1223.0     1229.10    1195.00      1204.55
1     30-December-2020      1229.0     1239.85    1203.90      1209.95
0     31-December-2020      1212.0     1217.70    1203.55      1212.15

              WAP  No.of Shares  No. of Trades  Total Turnover (Rs.)  \
3467  3742.739451         21731           1881            81333471.0
3466  3673.477502         28291           1736           103926352.0
3465  3652.205768         19347           1221            70659225.0
3464  3635.146191         22970           1374            83499308.0
3463  3550.702060         23300           1919            82731358.0
...           ...           ...            ...                   ...
4     1220.311283         45306            667            55287423.0
3     1217.518506          6106            587             7434168.0
2     1212.738685          7026            727             8520702.0
1     1222.053157         14034           1294            17150294.0
0     1210.068024          7909            554             9570428.0

      Deliverable Quantity  % Deli. Qty to Traded Qty  Spread High-Low  \
3467                2454.0                      11.29            76.00
3466                9866.0                      34.87            94.00
3465                7468.0                      38.60            59.00
3464                7808.0                      33.99            98.80
3463                4465.0                      19.16            95.00
...                    ...                        ...              ...
4                  39978.0                      88.24            38.95
3                   3091.0                      50.62            15.65
2                   2293.0                      32.64            34.10
1                   4729.0                      33.70            35.95
0                   2725.0                      34.45            14.15

      Spread Close-Open
3467             -20.95
3466             -56.35
3465             -22.85
3464             -57.30
3463             -45.85
...                 ...
4                  2.35
3                 -5.80
2                -18.45
1                -19.05
0                  0.15

[3468 rows x 13 columns]

In [39]:
index_df = pd.read_csv(os.path.join(datapath,"Index.csv"))
corporate_df = pd.read_csv(os.path.join(datapath,"Corporate Actions\\" + "Corporate_Actions_" + security_id + ".csv"))
revenue_df = pd.read_csv(os.path.join(datapath,"Revenue/"+security_id+".csv"))

# Data Cleaning

In [40]:
stock_df = data_cleaning(stock_df,index_df)
stock_df

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open
3467,2007-01-02,3735.0,3776.00,3700.00,3714.05,3742.739451,21731,1881,81333471.0,2454.0,11.29,76.00,-20.95
3466,2007-01-03,3710.0,3739.00,3645.00,3653.65,3673.477502,28291,1736,103926352.0,9866.0,34.87,94.00,-56.35
3465,2007-01-04,3668.0,3684.00,3625.00,3645.15,3652.205768,19347,1221,70659225.0,7468.0,38.60,59.00,-22.85
3464,2007-01-05,3650.0,3675.00,3576.20,3592.70,3635.146191,22970,1374,83499308.0,7808.0,33.99,98.80,-57.30
3463,2007-01-08,3600.0,3600.00,3505.00,3554.15,3550.702060,23300,1919,82731358.0,4465.0,19.16,95.00,-45.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2020-12-24,1205.0,1229.95,1191.00,1207.35,1220.311283,45306,667,55287423.0,39978.0,88.24,38.95,2.35
3,2020-12-28,1225.0,1227.65,1212.00,1219.20,1217.518506,6106,587,7434168.0,3091.0,50.62,15.65,-5.80
2,2020-12-29,1223.0,1229.10,1195.00,1204.55,1212.738685,7026,727,8520702.0,2293.0,32.64,34.10,-18.45
1,2020-12-30,1229.0,1239.85,1203.90,1209.95,1222.053157,14034,1294,17150294.0,4729.0,33.70,35.95,-19.05
0,2020-12-31,1212.0,1217.70,1203.55,1212.15,1210.068024,7909,554,9570428.0,2725.0,34.45,14.15,0.15

# Applying Corporate Actions

In [41]:
stock_df = apply_corporate_actions(stock_df,corporate_df)
stock_df

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open
3467,2007-01-02,3735.0,3776.00,3700.00,3714.05,3742.739451,21731,1881,81333471.0,2454.0,11.29,76.00,-20.95
3466,2007-01-03,3710.0,3739.00,3645.00,3653.65,3673.477502,28291,1736,103926352.0,9866.0,34.87,94.00,-56.35
3465,2007-01-04,3668.0,3684.00,3625.00,3645.15,3652.205768,19347,1221,70659225.0,7468.0,38.60,59.00,-22.85
3464,2007-01-05,3650.0,3675.00,3576.20,3592.70,3635.146191,22970,1374,83499308.0,7808.0,33.99,98.80,-57.30
3463,2007-01-08,3600.0,3600.00,3505.00,3554.15,3550.702060,23300,1919,82731358.0,4465.0,19.16,95.00,-45.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2020-12-24,1205.0,1229.95,1191.00,1207.35,1220.311283,45306,667,55287423.0,39978.0,88.24,38.95,2.35
3,2020-12-28,1225.0,1227.65,1212.00,1219.20,1217.518506,6106,587,7434168.0,3091.0,50.62,15.65,-5.80
2,2020-12-29,1223.0,1229.10,1195.00,1204.55,1212.738685,7026,727,8520702.0,2293.0,32.64,34.10,-18.45
1,2020-12-30,1229.0,1239.85,1203.90,1209.95,1222.053157,14034,1294,17150294.0,4729.0,33.70,35.95,-19.05
0,2020-12-31,1212.0,1217.70,1203.55,1212.15,1210.068024,7909,554,9570428.0,2725.0,34.45,14.15,0.15

In [21]:
stock_df = data_cleaning(stock_df,index_df)
stock_df = apply_corporate_actions(stock_df,corporate_df)
stock_df = add_risk_free_column(stock_df)
create_index()
stock_df = calculate_beta(stock_df)
stock_df = calculate_alpha(stock_df)
stock_df = create_dividend(corporate_df,stock_df)
stock_df = create_eps_pe_ratio_revenue_income_expenditure_net_profit(revenue_df,stock_df)
stock_df = create_lower_upper_bands(stock_df)
stock_df = stock_df.sort_values(by=["Date"],ascending=[True])

C:\Users\venu\Desktop\Stock Market Analysis\Feature_Creation.ipynb:45: RuntimeWarning: Degrees of freedom <= 0 for slice.
  "outputs": [],

In [22]:
stock_df

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,...,EPS last 4 quarters,Revenue last 8 quarters,Income last 8 quarters,Expenditure last 8 quarters,Net Profit last 8 quarters,EPS last 8 quarters,p/e,Upper Band,Lower Band,Band Area
0,2007-01-02,3735.0,3776.00,3700.00,3714.05,3742.739451,21731,1881,81333471.0,2454.0,...,26.83,132104,148761,-118650,9020.52,43.57,NaN,3714.05,NaN,NaN
1,2007-01-03,3710.0,3739.00,3645.00,3653.65,3673.477502,28291,1736,103926352.0,9866.0,...,26.83,132104,148761,-118650,9020.52,43.57,NaN,NaN,NaN,NaN
2,2007-01-04,3668.0,3684.00,3625.00,3645.15,3652.205768,19347,1221,70659225.0,7468.0,...,26.83,132104,148761,-118650,9020.52,43.57,NaN,NaN,NaN,NaN
3,2007-01-05,3650.0,3675.00,3576.20,3592.70,3635.146191,22970,1374,83499308.0,7808.0,...,26.83,132104,148761,-118650,9020.52,43.57,NaN,NaN,NaN,NaN
4,2007-01-08,3600.0,3600.00,3505.00,3554.15,3550.702060,23300,1919,82731358.0,4465.0,...,26.83,132104,148761,-118650,9020.52,43.57,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3463,2020-12-24,1205.0,1229.95,1191.00,1207.35,1220.311283,45306,667,55287423.0,39978.0,...,26.83,132104,148761,-118650,9020.52,43.57,NaN,NaN,NaN,NaN
3464,2020-12-28,1225.0,1227.65,1212.00,1219.20,1217.518506,6106,587,7434168.0,3091.0,...,26.83,132104,148761,-118650,9020.52,43.57,NaN,NaN,NaN,NaN
3465,2020-12-29,1223.0,1229.10,1195.00,1204.55,1212.738685,7026,727,8520702.0,2293.0,...,26.83,132104,148761,-118650,9020.52,43.57,NaN,NaN,NaN,NaN
3466,2020-12-30,1229.0,1239.85,1203.90,1209.95,1222.053157,14034,1294,17150294.0,4729.0,...,26.83,132104,148761,-118650,9020.52,43.57,NaN,NaN,NaN,NaN
3467,2020-12-31,1212.0,1217.70,1203.55,1212.15,1210.068024,7909,554,9570428.0,2725.0,...,26.83,132104,148761,-118650,9020.52,43.57,NaN,NaN,1212.15,NaN

In [23]:
modified_stock = modified_stock.append(stock_df,ignore_index=True)

In [24]:
modified_stock.to_csv(modified_stock_path,index=None)